<div class="row">

	<div id="splash-page-1" class="splash-page-section-wrapper">
		

	</div>

	<div id="splash-page-2" class="splash-page-section-wrapper">
		

	</div>

	<div id="splash-page-3" class="splash-page-section-wrapper">
		

	</div>
	
	<div id="splash-page-4" class="splash-page-section-wrapper">
		

	</div>
</div>