<div class="row">

	<div id="splash-page-1" class="splash-page-section-wrapper col-lg-12">
		<div class="row">
			<h1 class="">Hi Everyone</h1>
		</div>
	</div>

	<div id="splash-page-2" class="splash-page-section-wrapper">
		
	</div>

	<div id="splash-page-3" class="splash-page-section-wrapper">
		
	</div>
	
	<div id="splash-page-4" class="splash-page-section-wrapper">
		
	</div>

</div>