<div class="site-wrapper push-below-header"> 	<!-- Splash page wrapper. Starts below the navbar. -->
	
	<div class="site-wrapper-inner">
	
		<div class="cover-container"> 
			
			<div id="splash-page-1" class="clearfix splash-page-section-wrapper"> <!-- Splash Page First Section -->
				<h1 class="app-tagline">Crowd Source The Perfect Gift</h1>
				<h1>Here's the Giftee</h1>				
				<img src="http://placekitten.com/g/250/250" alt="">
				<i id="block" class="fa fa-arrow-down block"></i>
			</div>

			<div id="splash-page-2" class="clearfix splash-page-section-wrapper"> <!-- Splash Page Second Section -->
				<h1 class="instructions">Add the gifts you're thinking of</h1>
				<img src="http://placekitten.com/g/250/250" alt="">
				<img src="http://placekitten.com/g/250/250" alt="">
				<img src="http://placekitten.com/g/250/250" alt="">

				<i id="block" class="fa fa-arrow-down block"></i>
			</div>

			<div id="splash-page-3" class="clearfix splash-page-section-wrapper"> <!-- Splash Page Third Section -->
				<h1 class="instructions">Pick the friends that know them best</h1>
				<img src="http://placekitten.com/g/250/250" alt="">
				<img src="http://placekitten.com/g/250/250" alt="">
				<img src="http://placekitten.com/g/250/250" alt="">
				<i id="block" class="fa fa-arrow-down block"></i>
			</div>

			<div id="splash-page-4" class="clearfix splash-page-section-wrapper"> <!-- Splash Page Fourth Section -->
				<h1 class="instructions">See which gift gets the most votes!</h1>
				<img src="http://placekitten.com/g/250/250" alt="">
				<button class="btn">Sign In with Facebook to Begin</button>
			</div>

		</div>
	
	</div>

</div>

