<%if current_user %>
  <h4 class="center col-xs-12">Whom do you want to buy a gift for?</h4>

  <a href="javascript:{}" class="bt-fs-dialog btn btn-lg btn-primary center col-xs-12">Select the Friend you want to Gift</a>
  <div class="verticalspacer col-xs-12"></div>  
  <a href="javascript:{}" id="mutual-friends-link"  class="btn btn-lg btn-primary center col-xs-12">Select Your Accomplices</a>

  <div id="recipient"></div>

<% end %> 




<!-- <form id='new_recipient_form'>
      <input id="recipient_name_input" type="text" name="recipient_name" placeholder="Enter Name" />
      <button class='search_button'>search</button>
  </form> -->
