<div class="container">

	<%if current_user %>

		<div class="row push-below-header">
			<div class="col-lg-4">
				<h4><b>Whom do you want to buy a gift for?</b></h4>
			</div>

			<div class="col-lg-4">
				<a href="javascript:{}" class="home-button bt-fs-dialog btn btn-lg btn-primary center col-xs-12">Select the Friend you want to Gift</a>
			</div>

			<div class="col-lg-4">
					<a href="javascript:{}" id="mutual-friends-link"  class="home-button btn btn-lg btn-primary center col-xs-12">Select Your Accomplices</a>
			</div>
		</div>

			<div id="recipient"></div>

	<% end %> 


	<h1>Gift Formz</h1>
	<form id="new_item_form">
		<input type="text" id="new_item_name_input" name="new_item_name_input" placeholder="enter item name">
		<input type="text" id="new_item_url_input" name="new_item_url_input" placeholder="enter item url">
		<button class="add_item_button">Add Gift</button>
	</form>

	<div id="item_list"></div>

  <!-- <form action="polls/create" method="POST"> 
    <button id="finished_adding_button">Finished adding gifts</button>
  </form> -->

  <%= render text: File.read("app/views/templates.txt").html_safe %>

</div>