<%if current_user %>
  <p>Whom do you want to buy a gift for?</p>

  <a href="javascript:{}" class="bt-fs-dialog btn">Select the Friend you want to Gift</a>

  <a href="javascript:{}" id="mutual-friends-link btn">Select Your Accomplices</a>

  <div id="recipient"></div>
  <div id="current_user_template"><%= current_user.uid %></div>

<% end %> 




<!-- <form id='new_recipient_form'>
      <input id="recipient_name_input" type="text" name="recipient_name" placeholder="Enter Name" />
      <button class='search_button'>search</button>
  </form> -->
