#accomplice-photos {
padding: 10px;
/*width:80%;*/
position:absolute;
bottom:0; 
margin:0 auto;
border-right: 0px;
border-left: 0px 
}

#login-warning {
  color: white;
  /*margin-right: 35px;*/
}

.accomplice {
border-radius: 0px;
margin: 0 10px;
position: relative;
bottom:0px;
}

.advice {
padding: 30px;
text-align: center;
vertical-align: middle;
}

#item_list {
padding: 0px auto;
}

#showvotes {
/*overflow-y: scroll; */
text-shadow: 1px 1px #f1f1f1  ;
}

.item, .accomplices {
/*display: inline-block;*/
/*width: 250px;*/
height: 250px;
background-size: cover;
background-position: center;
margin: 4em 1em 5em 1em;
border: solid .3em #f1f1f1;
border-radius: .7em;
}


.bigborders{
border: solid .3em #f1f1f1  ;
border-radius: .7em;
}

.itemholder{
/* width: 100%;
height: 100%;
*/ background-color:rgba(250, 250, 250, 0.7);
}

.bordered {
border: solid 1px black;
}

.name{
/*font-size: 30px;*/
}

#toggleVoteButton {
margin: 0 20px;
}


/*================== Repeatable Formatting Styles =======================================*/

body {
padding-top: 3em;
background-image: url('http://www.andypost.com/data/photos/490_1r11_andy_post_beverage_photography_whiskey.jpg');
background-size: cover;
font-family: 'Gafata', sans-serif;
}

.push-below-header {
/*margin-top: 3em;*/
padding-top: 3em;
}

.top-padding {
margin-top: 2em; /*Pushes the top element on our app pages (any page that isn't the splash page) below the navbar*/
}

#block { /*This command is contained in an id to override the built in settings from font awesome. I'd rather write this as a repeatable class, but this seems to do the trick*/
display: block;
}

.block { 						
	display: block;
}

.inline-block {
	display: inline-block;
}

.center {
	text-align: center;
}

/*============================= Main Styling ===============================================*/


h1 {
font-size: 3em;
}

i {
font-size: 7em;
}

#navigation{
margin-bottom: 0em;
}

.home-button {
  margin: 10px;
}

.giftee, .mutual-friends-link {
margin: -1.5em auto 1em auto;
}


/*======================= fullPage Sticky Scrolling Styling ===============================================*/

.table {
margin-bottom: 0px; /* Removes gap between splash page background images*/ 
}


/*============================= Splash Page Styling ===============================================*/


.app-tagline {
	font-size: 5em;
	margin-top: .5em;
	margin-bottom: .9em;
	font-family: 'Gafata', sans-serif;
	font-weight: 900;
}

.instructions {
margin-top: 3em;
}

.splash-page-section-wrapper { /* Allows splash page background to take up full width of the page */
height: 100%; 
color: white;
}

.site-wrapper {
text-align: center;
}

.splash-page-section-wrapper a{
color: #fafafa  ;
}

.splash-page-section-wrapper h1 {
font-family: 'Gafata', sans-serif;

}

.splash-page-section-wrapper img {
height: 200px;
width: 200px;
margin-top: 2em;
margin-bottom: 4em;
border: solid 0.7em #fafafa;
border-radius: 0.7em;

/* -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:        3px 3px 5px 6px #ccc;*/
}

.instructions ~ img { /*Selects any images that are siblings of an element with a class "instructions". This selcts tthe images in Splash Page 2, 3, & 4*/
/*margin-top: 4em;
margin-bottom: 5em;*/
margin: 4em 2em 5em 2em;
}

/*---------------------------- Splash Page 1 Styling ------------------------------------------*/

#splash-page-1 { 
/*margin-top: 3.6em;*/
background-image: url("bg_images/picnic.jpg");
}

/*---------------------------- Splash Page 2 Styling ------------------------------------------*/

#splash-page-2 { 
background-image: url("bg_images/baseball5.jpg");
}

/*---------------------------- Splash Page 3 Styling ------------------------------------------*/

#splash-page-3 { 
background-image: url("bg_images/serenade4.jpg");
}

/*---------------------------- Splash Page 4 Styling ------------------------------------------*/

#splash-page-4 { 
background-image: url("bg_images/ballet2.jpg");
}

#splash-page-4 button { /*Selects the sign in button on splash page four*/
margin: 0 auto;
display: block;
}

/*=============================== Poll Creation Page Styling ========================================*/

.instructions-app {
margin-top: 1em;
}

.instructions-app ~ img {  /*Selects any images that are siblings of an element with a class "instructions". This selcts tthe images in Splash Page 2, 3, & 4*/
margin-top: 4em;
margin-bottom: 5em;
margin: 4em -2em 5em 2em;
}

#app-setup-page-2 div { /* CHANGE THIS NAME SOON */
position: relative;
display: inline-block;
}

#app-setup-page-2 {
background-image: url("bg_images/baseball5.jpg");
}

#app-setup-page-3 div { /* CHANGE THIS NAME SOON */
position: relative;
display: inline-block;
}

#app-setup-page-3 {
background-image: url("bg_images/serenade4.jpg");
}

.gift-name {
  position:absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  bottom: .5em;

}

.add_item_button {
	margin: 1em auto;
}

.poll-creation-item-selection .item {
  display: inline-block;
  width: 250px;
  height: 250px;
/*  background-size: cover;
  background-position: center;
  margin: 4em 1em 5em 1em;
  border: solid .8em #f1f1f1;
  border-radius: 1em;
*/}

/*============================ Accomplice Styling ===============================================


#accomplice-photos {
padding: 10px;
width:80%;
position:absolute;
bottom:0; 
margin:0 auto;
border: solid 1px black;
}

.accomplice {
border-radius: 0px;
margin: 0 10px;
}


/*============================= Item & Gift Styling ===============================================*/


#new_item_image_input {
display: hidden;
}

.gift_image {
width: 200px;
height: 200px;
}

.hiddenImage {
display: none;
}

/*============================= Poll Show Page Styling ===============================================*/

.showvotes {
	color: #fafafa;
	font-family: 'Roboto', sans-serif;
}

.showvotes img {
	height: 15em;
	width: 15em;
}

.showvotes h2 {
	margin: 1em 0em .5em 0em;
	padding: 0em 0em 1em 0em;
	border-bottom: solid .1em #fafafa;
}

#arrow {
	height: 8em;
	width: 10em;
	left: 0;
	right: 0;
	margin: -2em auto 0 auto;
	position: absolute;
	transform:rotate(-143deg);
	-ms-transform:rotate(-143deg); /* IE 9 */
	-webkit-transform:rotate(-143deg); /* Opera, Chrome, and Safari */
}

#gift-icon {
	height: 9em;
	width: 9em;
	margin-top: 3em;
}


#accomplice-photos {

padding: 10px;
/*width:80%;*/
position:absolute;
bottom:0; 
margin:0 auto;
border-right: 0px;
border-left: 0px 
}


/*.item, .accomplices {
display: inline-block;
width: 30%;
height: 250px;
background-size: cover;
margin: 10px;
background-position:center;
}*/

/*======================= File Upload Button ================================*/

.btn-file {
    position: relative;
    overflow: hidden;
    margin-top: .5em
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.img-spinner {
	margin-top: .6em;
}








