<!DOCTYPE html>
<html>
<head>
  <title>Giftr</title>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
  
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> 
  
    <%= yield %>
  
  </div>

</body>
</html>
